<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name username">Manhnguyenkg123</div>
            <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tìm Kiếm">
        </div>
    </form>
    <ul class="nav menu">
        <li class="<%= currentPage.href === 'home' ? 'active' : '' %>"><a href="/admin/home"><em class="bi bi-house-door">&nbsp;</em> Trang Chủ</a></li>
        <li class="<%= currentPage.href === 'analytic' ? 'active' : '' %>"><a href="/admin/analytic"><em class="bi bi-bar-chart-line">&nbsp;</em> Thống Kê</a></li>

        <li class="<%= currentPage.href === 'categories' ? 'active' : '' %>"><a href="/admin/categories"><em class="bi bi-card-list">&nbsp;</em> Danh Mục</a></li>
        <li class="<%= currentPage.href === 'products' ? 'active' : '' %>"><a href="/admin/products"><em class="bi bi-box2-heart">&nbsp;</em> Sản Phẩm</a></li>
        <li class="<%= currentPage.href === 'users' ? 'active' : '' %>"><a href="/admin/users"><em class="bi bi-person-square">&nbsp;</em> Tài Khoản</a></li>
        <li class="<%= currentPage.href === 'orders' ? 'active' : '' %>"><a href="/admin/orders"><em class="bi bi-receipt">&nbsp;</em> Đơn Hàng</a></li>
        <li ><a class="logout" href="/admin/logout"><em class="fa fa-power-off">&nbsp;</em> Đăng Xuất</a></li>
    </ul>
</div><!--/.sidebar-->

<!-- <ul class="nav menu">
    <li class="<%= currentPage === 'home' ? 'active' : '' %>">
      <a href="/">Trang Chủ</a>
    </li>
    <li class="<%= currentPage === 'catelories' ? 'active' : '' %>">
      <a href="/catelogries">Danh Mục</a>
    </li>
    <li class="<%= currentPage === 'products' ? 'active' : '' %>">
      <a href="/products">Sản Phẩm</a>
    </li>
    <li class="<%= currentPage === 'users' ? 'active' : '' %>">
      <a href="/users">Tài Khoản</a>
    </li>
    <li class="<%= currentPage === 'carts' ? 'active' : '' %>">
        <a href="/carts">Giỏ hàng</a>
      </li>
    <li class="<%= currentPage === 'orders' ? 'active' : '' %>">
      <a href="/order">Đơn Hàng</a>
    </li>
    <li class="<%= currentPage === 'logout' ? 'active' : '' %>">
      <a href="/logout">Đăng Xuất</a>
    </li>
  </ul> -->
<script>
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    const fetchApi = async (url, token) => {
    const requestOptions = {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
        },
    };

    try {
        const response = await fetch(url+token, requestOptions);
        const data = await response.json();
        document.querySelector(".username").innerHTML = data.fullname
        return data;
    } catch (error) {
        console.error('Lỗi trong quá trình thực hiện POST:', error);
        return null;
    }
};

    
    const token = getCookie("refreshToken");
    fetchApi("http://localhost:8085/user/parseToken/",token)
</script>